body{
  text-align: center;
}
.registerContainer{
  margin: 0 auto;
  width: 80%;
}
.profile-img{
  width: 50%;
}
.loginContainer{
  width: 350px;
  margin: 0 auto;
  text-align: center;
  padding: 15px;
  border: 1px solid #66ccff;
  border-radius: 5px;
}

input{
  margin-bottom: 10px;
}
.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 200px;
    height: 65px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
}
.dragover {
    border: 5px dashed blue;
}
